{% extends 'base.html' %}

{% block content %}

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="content">
        <h1>{% block title %} Upload Image here: {% endblock %}</h1>
      <form method="post" enctype="multipart/form-data">
          <br>
          <input type="file" name="img" id="img" accept="image/*"
                 value="{{ request.form['img'] }}" required></input>
          <br>
          <input type="submit" name="anything_submit" value="Submit" onclick="loading()">
      </form>
      </div>
    </div>
  </div>
  {% endblock %}